
.bse-col-collapse .bse-col-collapse-control {
  cursor: pointer;
}
.bse-col-collapse .bse-col-collapse-collapsed div {
  display:inline-block;
  width: 3em;
  height: 1.1em;
  overflow: hidden;
}
.bse-col-collapse .bse-col-collapse-collapsed::after {
  content: '...';
}
.bse-col-collapse .bse-col-collapse-control.bse-col-collapse-collapsed::after,
.bse-col-collapse .bse-col-collapse-controlAll.bse-col-collapse-collapsed::after {
  content: '';
}
.bse-col-collapse .bse-col-collapse-control .glyphicon {
   display: none;
}
.bse-col-collapse .bse-col-collapse-control.bse-col-collapse-collapsed .glyphicon {
   display: inline-block;
}
