.bse-progress-report-panel {
    position: relative;
}
.bse-progress-report-panel .progress {
    cursor: pointer;
}
.bse-progress-report-form {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}
/* Range Input Styling:  https://www.htmllion.com/html5-range-input-with-css.html */
.bse-progress-report-form input[type='range']::-webkit-slider-thumb {
    height: 22px;
    width: 4px;
    vertical-align:middle;
    border: 1px solid;
    cursor: pointer;
    margin-top: -6px;
}
.bse-progress-report-form input[type='range']::-webkit-slider-runnable-track {
    background-color: transparent;
}
.bse-progress-report-form input[type='range']::-moz-range-thumb {
    height: 22px;
    width: 4px;
    vertical-align:middle;
    border: 1px solid;
    cursor: pointer;
    margin-top: -6px;
}
.bse-progress-report-form input[type='range']::-moz-range-track{
    background-color: transparent;
}
.bse-progress-report-form input[type='range']::-moz-range-thumb:hover {
    background: #fdd921;
}
.bse-progress-report-form input[type='range']:active::-moz-range-thumb {
    background: #fdd921;
}
.bse-progress-report-form input[type=range]::-ms-thumb {
    height: 22px;
    width: 4px;
    vertical-align:middle;
    border: 1px solid;
    cursor: pointer;
    margin-top: -2px;
}
.bse-progress-report-form input[type=range]::-ms-track {
    background-color: transparent;
}
.bse-progress-report-form input[type="range"] {
    background-color: transparent;
    opacity: 50%;  /* Chrome does not respect slider styling above - at least make it legible */
}
.bse-progress-report-form .bse-spinner {
    top: -1em;
    left: 45%;
}